{% extends "base.html" %}

{% block content %}
    <h1>Список работ</h1>
    <div class="jobs">
        {% for job in jobs %}
            <h2>Action #{{ loop.index }}</h2>
            <table class="table table-bordered">
                <tr>
                    <td>Задание</td>
                    <td>Ответственный</td>
                    <td>Продолжительность, ч</td>
                    <td>Команда</td>
                    <td>Статус</td>
                </tr>
                <tr>
                    <td>{{ job[0] }}</td>
                    <td>{{ job[1] }}</td>
                    <td>{{ job[2] }}</td>
                    <td>{{ job[3] }}</td>
                    <td>{{ job[4] }}</td>
                </tr>
            </table>
            {% if current_user.is_authenticated and current_user.id in [1, job[5]] %}
            <div>
                <a href="/jobs/{{ job[6] }}" class="btn btn-warning"> Изменить </a>
                <a href="/jobs_delete/{{ job[6] }}" class="btn btn-danger"> Удалить </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}